.TEST {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 595px;
    height: 842px;
}

.TEST .div {
    background-color: #fcfcfc;
    width: 595px;
    height: 842px;
    position: relative;
}

.TEST .overlap-group {
    position: absolute;
    width: 595px;
    height: 648px;
    top: 111px;
    left: 0;
}

.TEST .ellipse {
    position: absolute;
    width: 595px;
    height: 595px;
    top: 12px;
    left: 0;
    border-radius: 297.5px;
    border: 56px solid;
    border-color: #053aeb;
    opacity: 0.02;
}

.TEST .frame {
    display: flex;
    flex-direction: column;
    width: 502px;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 0;
    left: 47px;
}

.TEST .frame-2 {
    display: flex;
    flex-direction: column;
    width: 467px;
    align-items: center;
    gap: 28px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .frame-3 {
    display: flex;
    flex-direction: column;
    height: 112px;
    align-items: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.TEST .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Karla-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: "Karla-Bold", Helvetica;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .p {
    position: relative;
    align-self: stretch;
    font-family: "Karla-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .frame-4 {
    display: flex;
    align-items: center;
    gap: 66px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.TEST .frame-5 {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.TEST .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Karla-Bold", Helvetica;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.TEST .frame-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.TEST .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Karla-SemiBold", Helvetica;
    font-weight: 600;
    color: #053aeb;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .frame-8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-Bold", Helvetica;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .frame-11 {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    gap: 35px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .frame-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-Bold", Helvetica;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .entry-speaking {
    position: relative;
    width: 300px;
    font-family: "Karla-Medium", Helvetica;
    font-weight: 500;
    color: #053aeb;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.TEST .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-SemiBold", Helvetica;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .frame-13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.TEST .this-certificate-of {
    position: relative;
    width: 491px;
    margin-top: -1.00px;
    font-family: "Karla-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .span {
    color: #1a1a1a;
}

.TEST .text-wrapper-9 {
    font-family: "Karla-SemiBold", Helvetica;
    font-weight: 600;
    color: #053aeb;
}

.TEST .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    font-family: "Karla-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #3d454a;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.TEST .logo-type-core-shape {
    position: absolute;
    width: 88px;
    height: 54px;
    top: 28px;
    left: 28px;
    object-fit: cover;
}

.TEST .text-wrapper-11 {
    position: absolute;
    top: 45px;
    left: 480px;
    font-family: "Karla-SemiBold", Helvetica;
    font-weight: 600;
    color: #053aeb;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .frame-14 {
    display: flex;
    width: 531px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 800px;
    left: 32px;
}

.TEST .frame-15 {
    display: flex;
    width: 195px;
    align-items: center;
    gap: 4px;
    position: relative;
}

.TEST .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-Regular", Helvetica;
    font-weight: 400;
    color: #3d454a;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Karla-Medium", Helvetica;
    font-weight: 500;
    color: #3d454a;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.TEST .text-wrapper-14 {
    position: relative;
    width: 172px;
    margin-top: -1.00px;
    font-family: "Karla-Medium", Helvetica;
    font-weight: 500;
    color: #3d454a;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}
